#conteudo {
    margin-top: 80px;
}
#texto-de-apresentaçao, #foto-de-apresentaçao, #animaçao, #resumo{
    text-align: center;
}

h4 {
    margin-right: 95px;
}
#icone-mapa {
    margin-left: 50px;
}
button {
    background: none;
    border: none;
}
#icones {
    margin-top: 20px;
}
#perfil {
    height: 300px;
    width: 300px;
}
#segunda-parte {
    margin-top: 100px;
    margin-bottom: 300px;
}
hmtl {
    height: 100%;
}
img {
    width: 500px;
    height: 300px;
    border-radius: 10%;
}
h2 {
    font-family: 'RocknRoll One', sans-serif;
}
body {
    background-color: #ADB8BE !important;
}